<html>
<head>
  <title>Salary Breakdown </title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    h1 {
      text-align: center;
      color: #007BFF;
    }
    hr {
      border: 1px solid black;
      margin-bottom: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
    p {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Salary Breakdown for {{ name }} on {{month_name}} {{month}} - {{year}}</h1>

  <p>Employee Data </p>
  <p>name :  {{ name }}</p>
  <p>position :  {{ position }}</p>
  <p>tier_type : {{ tier_type }}</p>
  <p>is_onsite :  {{ is_onsite }}</p>
  <p>has_insurance :  {{ has_insurance }}</p>
  <p>is_appointment_setter : {{ is_appointment_serrer }}</p>
  <p>is_full_time : {{ is_full_time }}</p>
  <hr/>

  <p>Basic Salary</p>
  <p>30 days {{ basic_salary }} - ({{ basic_salary_deduction_absent }} + {{ basic_salary_deduction_missing_hours }}) = {{ final_salary }}</p>
  <p>{{ no_show_days }}</p>
  <p>{{ missing_hours }}</p>
  <hr/>

  <p>Overpay (Saturdays + Extra Hours):</p>
  <p>{{ saturdays }}</p>
  <p>salary for saturdays = {{ overpay_summary }}</p>
  <p>{{ additional_hours }}</p>
  <p>total of additional_working_hours = {{ additional_hours_value }}</p>
  <hr/>

  <p>KPIs</p>
  <p>{{ kpis_score }}</p>
  <p>total kpis = {{ kpis_total }}</p>
  <hr/>

  <p>Spiffs (2 CAD)</p>
  <p>{{ spiffs_logs }}</p>
  <p>total spiffs = {{ spiffs_total }} (cad = 35.66)</p>
  <hr/>

  <p>Transportation Allowance</p>
  <p>{{ transportation_allowance }}</p>
  <hr/>

  <p>Deductions</p>
  <p>{{ deductions_info }}</p>
  <p>deductions = {{ deductions }}</p>
  <hr/>

  <p>Butter Up =  {{ butter_up }} EGP</p>
  <hr/>

  <p>Total Salary =  {{ total_salary }} EGP</p>



</body>
</html>